img { display: block; }
a { text-decoration: none; font: normal 14px Helvetica; color: #2f2f2f; }

h1 { font: bold 16px Helvetica; color: black; }

#albums { padding-left: 10px; }
#albums li { margin-bottom: 5px; }
.songs { padding-left: 10px; }

.album a { font-weight: bold; }
.album .songs .song a { font-weight: normal; }
.song a:hover { text-decoration: underline; }

.more-less { font: normal 11px Helvetica; cursor: pointer; }

.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clear {display: inline-block;}
* html .clear {height: 1%;}
.clear {display: block;}
